@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:DM Serif Text;
}

:root{
    --cor01:#1e293b;
    --cor02:#0f172a;
    --cor03:#f1f5f9;
    --cor04:#dc2626;
    --cor05:#ffffff;
}

html,
body{
    width:100%;
    margin:0;
    padding:0;
    background:var(--cor01);
    overflow-x:hidden;
}

#geral{
    width:100%;
    min-height:100vh;
    background:var(--cor01);
}

/* CABEÇALHO */

#cabecalho{
    width:100%;
    background:var(--cor02);
    height:130px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;
}

#logo{
    font-size:1.9em;
    text-transform:uppercase;
    letter-spacing:5px;
    color:var(--cor03);
}

#menu ul{
    display:flex;
    list-style:none;
    gap:30px;
    align-items:center;
}

#menu ul img{
    width:25px;
    height:25px;
    filter:invert(1);
}

#menu a{
    text-decoration:none;
    color:var(--cor03);
    font-size:1.2em;
    text-transform:lowercase;
    letter-spacing:2px;
}

#menu a:hover{
    color:#94a3b8;
}

/* PESQUISA */

#pesquisa{
    width:100%;
    background:var(--cor02);

    display:flex;
    justify-content:center;
    align-items:center;

    padding:25px 0;
}

#pesquisa input{
    width:650px;
    max-width:90%;
    height:70px;

    border:none;
    border-radius:8px;

    padding:15px;
    font-size:1.5em;
}

#pesquisa input::placeholder{
    font-style:italic;
}

/* SEÇÕES */

#secoes-produtos{
    width:100%;
    background:var(--cor02);

    margin:20px 0;

    display:flex;
    justify-content:center;
}

#menu-secoes{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    list-style:none;
    padding:20px;
}

.lnk-secao{
    text-decoration:none;
    color:white;
    text-transform:uppercase;
}

.lnk-secao:hover{
    color:#94a3b8;
}

/* CARDS */

#cards{
    width:100%;
    max-width:1200px;

    margin:30px auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

    padding:20px;

    background:var(--cor03);
}

.card{
    width:250px;
    min-height:450px;

    margin:auto;

    border:1px solid var(--cor02);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:10px;
}

.card img{
    width:200px;
    height:180px;
    object-fit:contain;
}

.card p{
    margin:20px 0;
    text-transform:uppercase;
}

.card h3{
    font-size:2em;
    color:var(--cor01);
}

.card button{
    width:100%;
    height:40px;

    margin-top:20px;

    border:none;
    border-radius:5px;

    background:var(--cor02);
    color:white;

    cursor:pointer;
}

/* RODAPÉ */

#rodape{
    width:100%;
    background:var(--cor02);
    color:white;

    padding:40px;

    text-align:center;
}