
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@700;800&display=swap');

   
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: DM Serif Text;
}

/*CRIANDO VARIÁVEIS*/
:root {
    --cor01: #1e293b; 
    --cor02: #0f172a; 
    --cor03: #f1f5f9; 
    --cor04: #dc2626; 
    --cor05: #ffffff; 
}
/*FORMATANDO A TAG main PELO ID geral*/
#geral {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cor01);

}

/*FORMATANDO O CABECALHO*/
#cabecalho {
    background-color: var(--cor02);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    height: 130px;
    width: 100%;

}

/*CONFIGURANDO MENU NA HORIZONTAL*/
#menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

#menu ul img {
    width: 25px;
    height: 25px;
}

/*FORMATANDO SECTION PESQUISA*/
#pesquisa {
    height: 100px;
    background-color: var(--cor02);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#pesquisa input {
    width: 650px;
    height: 80px;
    background-color: var(--cor03);
    border-radius: 8px;
    padding: 10px;
    font-size: 1.4em;
    color: var(--cor03);
}

#pesquisa input::placeholder {
    font-size: 1.3em;
    font-style: italic;
    color: var(--cor02);
}

/*FORMATANDO OS CARDS*/
#cards {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: var(--cor03);


}


.card {
    width: 250px;
    min-height: 450px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor02);
}

.card img {
    width: 220px;
    height: 200px;
    margin: 10px 0px;
}

.card p {
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 20px 0px;
}

.card:hover {
    transform: translateY(5px);
}

.card h2 {
    color: var(--cor03);
}

.card button {
    width: 100%;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor02);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--cor03);
    font-weight: bold;
    cursor: pointer;
}

/*FORMATANDO RODAPE*/
#rodape {
    width: 100%;
    height: 180px;
    background-color: var(--cor03);
    margin: 20px 0px;
    padding: 10px;
    color: var(--cor03);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*FORMATANDO LINKS*/
#menu a:link {
    font-size: 1.4em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--cor02);
}

#menu a:visited {
    font-size: 1.4em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--cor02);
}

#menu a:hover {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--cor03);
}

#menu a:active {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--cor03);
}

#logo {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor03);
}

/*FORMATANDO O MENU DE SECÕES*/
#secoes-produtos{
    width: 100%;
    min-height: 10px;
    background-color: var(--cor02);
    margin: 20px 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .lnk-secao:link, .lnk-secao:visited{
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    color: var(--cor03);
 }

 #menu-secoes{
    display: flex;
    list-style: none;
    gap: 20px;
    
 }

 .lnk-secao:hover{
    font-size: 1.4em;
    text-transform: uppercase;
    color: var(--cor02);
 }
