
@import url('css/style_estrutura_pagina.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700;800&display=swap');

:root {
    --cor01: #1e293b; 
    --cor02: #0f172a; 
    --cor03: #f1f5f9; 
    --cor04: #dc2626; 
    --cor05: #ffffff; 
}

/*FORMATANDO SECTION items