@import url('style_estrutura_pagina.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700;800&display=swap');

:root{
    --cor01: #1e293b;
    --cor02: #0f172a;
    --cor03: #f1f5f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor03);
}
 

/* CABEÇALHO */

#cabecalho{
    background-color: var(--cor02);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 20px;
    height: 120px;
    width: 100%;

}


#cabecalho a{
    color: white;
    text-decoration: none;
    transition: .3s;
}


#cabecalho a:hover{
    color: #64748b;
}

#logo {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor03);
}

/* MENU */

#menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}


#menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}


#menu ul li a:hover{
    color: #64748b;
}


#menu ul li img{
    width: 28px;
    height: 28px;
}

#menu a:link,
#menu a:visited {
    font-size: 1.4em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #94a3b8; 
}

#menu a:hover {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--cor05);
}

#menu a:active {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--cor02);
}

/* CARRINHO */

#carrinho{
    width: 95%;
    margin: 30px auto;
    display: flex;
    gap:20px;
    
}


#itens-carrinho{
    width: 70%;
}


.item{
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}


.img-item{
    width: 120px;
}


.img-item img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}


#descricoes-itens{
    width: 100%;
}


.descricao{
    font-size: 18px;
    font-weight: bold;
    color: var(--cor02);
    margin-bottom: 15px;
}


.valores{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.valores p{
    font-size: 18px;
    color: var(--cor01);
    font-weight: bold;
}


.input-item{
    width: 60px;
    height: 35px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
}


.img-remover img{
    width: 29px;
    cursor: pointer;
    padding-left: 10px;
    
}



/* RESUMO DO CARRINHO */

#valores-carrinho{
    width: 30%;
    background: white;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
}


.titulo-valores-carrinho{
    color: var(--cor02);
    font-size: 20px;
    margin-bottom: 10px;
}


.valor{
    color: var(--cor01);
    font-size: 18px;
    margin-bottom: 20px;
}


.input-cep{
    width: 100%;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.valores img{
    width: 15px;
    height: 18  px;
    cursor: pointer;
}

/* BOTÕES */

.btn-carrinho{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 6px;
    background: var(--cor01);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}


.btn-carrinho:hover{
    background: var(--cor02);
}

#menu img{
    filter: invert(1);
}

/* RODAPÉ */

#rodape{
    width: 100%;
    height: 180px;
    background-color: var(--cor02);
    margin: 20px 0px;
    padding: 10px;
    color: var(--cor03);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* RESPONSIVO */

@media(max-width:900px){

    #carrinho{
        flex-direction: column;
    }


    #itens-carrinho,
    #valores-carrinho{
        width: 100%;
    }


    .item{
        flex-direction: column;
        text-align: center;
    }


    .valores{
        flex-direction: column;
        gap: 10px;
    }


    #cabecalho{
        justify-content: center;
        padding: 0 20px;
    }


    #menu ul{
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }


    #menu ul li a{
        font-size: 16px;
    }

}